body
{
	margin-top: 0px;
	padding: 0 0 0 1px;
	color: #555;
	font: normal 15pt verdana,Helvetica,sans-serif;
	background: #EFEFEF;
	min-width:100%;
}

/** My own css **/

/** User/view **/
.user_avatar{width:150px;height:100px;float:left;}
.fileName{text-decoration:none;	background: #ececec; }
.elrte{display:none;}
#profile_detail_view{width: 300px; float:left}
#stepContentArea{position:fixed;left:42%;z-index:10;}
.help-inline{
background-color:#efefef;
color:red;
font: bold 11pt :verdana,Helvetica,sans-serif;

}
/**Yii default css**/

#page
{
	margin-top: 2px;
	margin-bottom: 5px;
	background: white;
	border: px solid #C9E0ED;
	min-width:98%;
	margin-left:0px;
	margin-right:0px;
	
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
	padding: 0 0 0 0px;
	min-width: 700px;
	
	}
.column1{

}
#sidebar
{
	
	padding: 0px;
	
}

#footer
{
	position:relative;
	bottom:0px;
	padding: 0px;
	margin: 10px 0px 0px 0px;
	text-align: center;
	border-top: 1px solid #C9E0ED;
	min-width:98%;
	
}

#logo
{
	padding: 0px 0px;
}
#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
	background-color:black;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}



.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	margin-bottom:15px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.post
{
	margin: 0 0 20px;
}

.post .title
{
	font-size: 1.5em;
	border-bottom: 1px solid #C9E0ED;
}

.post .title a
{
	color: #555;
	text-decoration: none;
}

.post .author
{
	color: #888;
	margin: 0 0 5px;
}

.post .nav
{
	-moz-border-radius:7px;
	padding: 5px;
	background: #EFFDFF;
}

.comment
{
	-moz-border-radius:7px;
	padding: 10px;
	background: #F5F5F5;
	margin: 5px 0;
}

.comment .content
{
	margin: 10px 0;
}

.comment .author
{
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}

.comment .time
{
	color: #888;
	font-size: 0.8em;
}

.comment a.cid
{
	color:#CCC;
	float:right;
	font-size:1.5em;
	font-weight:bold;
	padding:0 5px 5px 5px;
	text-decoration: none;
}

.comment a.cid:hover
{
	color:#555;
}

.comment .pending
{
	color:red;
}
/*
	SLIDER
*/
.slider-wrap								{ width: 419px; position: relative;  }			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 419px; height: 285px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 419px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }
#movers-row									{ margin: -73px 0 0 62px; }
#movers-row div								{ width: 20%; float: left; }
#movers-row div a.cross-link 					{ float: right; }
.photo-meta-data							{ background: url(/images/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 62px; margin-top: -14px; 
											  position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 								{ background: transparent url(/images/icon-uparrowsmallwhite.png) top center no-repeat; }
